{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - Working Hours{% else %}Working Hours App{% endif %}
{% endblock %}


{% block styles %}

  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

{% endblock %}



{% block navbar %}

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Working Hours App</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.index', _external=True) }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('auth.login', _external=True) }}">Login</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.logout', _external=True) }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}

  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker({format: 'YYYY-MM-DD'});

    });

    var disableFields = ['timepick1', 'timepick2', 'timepick3', 'timepick4', 'timepick5', 'timepick6', 'timepick7', 'timepick8'];

    var checkBoxes = ['holsick', 'holsick1', 'holsick2'];

    /*
    // why does this not work?
    checkBoxes.forEach(function(box){
        document.getElementById(box).onchange = function(){
            disableFields.forEach(function(field){
                document.getElementById(field).disabled = this.checked;
            });
        };
    });
    */

    document.getElementById('holsick').onchange = function(){
        for (i=0; i<disableFields.length; i++){
            document.getElementById(disableFields[i]).disabled = this.checked;
    }};
    document.getElementById('holsick1').onchange = function(){
        for (i=0; i<disableFields.length; i++){
            document.getElementById(disableFields[i]).disabled = this.checked;
    }};
    document.getElementById('holsick2').onchange = function(){
        for (i=0; i<disableFields.length; i++){
            document.getElementById(disableFields[i]).disabled = this.checked;
    }};

    document.getElementById('cumul_drop').onchange = function(){
        if (this.value != '0') {
            this.form.submit();
        }
    }

    document.getElementById('runsum_drop').onchange = function(){
        if (this.value != '0') {
            this.form.submit();
        }
    }

  </script>

{% endblock %}
<!--
$('#timepick1').datetimepicker({format: 'H:mm'});
$('#timepick2').datetimepicker({format: 'H:mm'});
-->
