{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
  <h1>Welcome, {{ current_user.username }}</h1>

  <h2>Input Hours</h2>
  <div class="row">
    <div class="col-md-2">
      {{ wtf.quick_form(form) }}
      <br>
    </div>
    <div class="col-md-7">
      <p>table is scrollable (horizontally and vertically)</p>
      <p><a href="{{ url_for('download_data') }}">Download as Excel</a></p>
      <div class="panel panel-default table-responsive fixedHeader">
        <!-- Table -->
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Hrs:Mins<br>worked</th>
            <th>Hrs:Mins Worked <br>- 45 mins</th>
            <th>Overtime</th>
            <th>Driving Hrs</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in hoursDb %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
              <td>
                <form action="" method="post" onsubmit="return confirm('Do you really want to delete?');">
                  <button type="submit" class="btn btn-default" name="delete" value="{{ row[7] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">

            <form action="{{ url_for('index') }}" method="post">
              <select class="form-control" name="cumuls" id="select1" onchange="if(this.value != 0) { this.form.submit(); }">
                  <option value="0">Cumulative for week beginning...</option>
                  {% for i,j in zip(wks, wks2) %}
                  <option value="{{ i }}">{{ j }}</option>
                  {% endfor %}
              </select>
            </form>
          </div>

        </div>
        <div class="panel-body">
          {% if cumul_hrs is not none %}
          <p>Week Beginning:<br> <b>{{ week }}</b></p>
          <p> Selected Week Cumulative Working Hours:<br><b>{{ cumul_hrs[0:2] }} hours, {{ cumul_hrs[3:5] }} minutes</b></p>
          <p> Selected Week Cumulative Overtime Hours:<br><b>{{ cumul_overtime[0:2] }} hours, {{ cumul_overtime[3:5] }} minutes</b></p>
          {% else %}
          <p><b>Select a week to see cumulatives</b></p>
          {% endif %}
          <hr>
          <p> Current Week Cumulative Working Hours:<br><b>{{ currWeeklyHours[0:2] }} hours, {{ currWeeklyHours[3:5] }} minutes</b></p>
          <p> Current Week Cumulative Overtime Hours:<br><b>{{ currWeeklyOvertime[0:2] }} hours, {{ currWeeklyOvertime[3:5] }} minutes</b></p>

        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block script %}

{% endblock %}
